
// main headings
.anim-fadein-heading {
	opacity: 0;
	transform: translateX(200px);
	transition: all 0.5s ease;
	&.animationToggle {
		opacity: 1;
		transform: none;
		transition: all 0.5s ease;
	}
}

// paragraphs, text, images
.anim-fadein-text {
	opacity: 0;
	transition: all 0.7s ease;
	&.animationToggle {
		opacity: 1;
		transition: all 0.7s ease;
	}
}

// special text in section, small headings, small containers of text
.anim-fadein-scalein {
	opacity: 0;
	transform: scale(1.3);
	transition: all 0.7s ease;
	&.animationToggle {
		opacity: 1;
		transform: none;
		transition: all 0.7s ease;
	}
}
.anim-fadein-scaleout {
	opacity: 0;
	transform: scale(0.7);
	transition: all 0.7s ease;
	&.animationToggle {
		opacity: 1;
		transform: none;
		transition: all 0.7s ease;
	}
}

// #wizja-section aligned paragraphs 
.anim-slideleft {
	opacity: 0;
	transform: translateX(100px);
	transition: all 1s ease;
	&.animationToggle {
		opacity: 1;
		transform: none;
		transition: all 1s ease;
	}
}
.anim-slideright {
	opacity: 0;
	transform: translateX(-100px);
	transition: all 1s ease;
	&.animationToggle {
		opacity: 1;
		transform: none;
		transition: all 1s ease;
	}
}