header {
	height: 500px;
	width: 100%;
	position: relative;
	background-image: url("./assets/header-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 27% 0;
	transition: all 0.3s ease;
	padding-top: 50px;
}

.title-container {
	float: right;
	text-align: right;
	margin: 110px 10% 20px;
	transition: all 0.3s ease;
}

h1.title {
	font-size: 3em;
	color: #fff;
	transition: all 0.3s ease;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2.subtitle {
	font-weight: 300;
	font-size: 2em;
	color: #f4f4f4;
	transition: all 0.3s ease;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	transition: all 0.3s ease;

	.navbar {
		margin: 0;
		padding: 0 0;
		transition: all 0.3s ease;

		li {
			display: inline;
			list-style-type: none;
			margin: 0;

			a {
				display: inline-block;
				color: #fff;
				font-weight: bold;
				text-decoration: none;
				padding: 20px 20px 16px 20px;
				border-bottom: 4px solid rgba(0, 0, 0, 0);
				transition: all 0.3s ease;

				&:hover {
					transition: all 0.3s ease;
					color: $primarycolor;
					background-color: rgba(0, 128, 199, 0.1);
				}
			}
		}
	}
}

nav li a[href="/"] {
	// special styling for home navlink
	color: #69bbe8 !important;
}

.active {
	border-bottom: 4px solid $primarycolor !important;
}

.hamburger {
	display: none;
	z-index: 2;
	position: fixed;
	right: 1%;
	top: 1%;
	color: #a3a3a3;
	transition: all 0.3s ease;
}

#scrollToTopArrow {
	display: block;
	z-index: 2;
	position: fixed;
	bottom: 20px;
	right: 20px;
	color: #686868;
	font-size: 2em;
	transition: all 0.3s ease;

	display: none;

	&:hover {
		cursor: pointer;
		color: #383838;
		text-shadow: 0 0 15px $primarycolor;
		transition: all 0.3s ease;
	}
}

.show-arrow {
	display: block !important;
	transition: all 0.5s ease;
}

@media only screen and (max-width: 900px) {
	nav {
		.navbar {
			li {
				a {
					padding: 20px 10px 16px;
				}
			}
		}
	}
}
@media only screen and (max-width: 768px) {
	nav {
		display: flex;
		justify-content: center;

		.navbar {
			min-width: 200px;
			width: 50%;
			height: 100%;
			bottom: 0;
			position: fixed;
			z-index: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
			padding: 0;
			background-color: rgba(0, 0, 0, 0.8);
			overflow-x: hidden;
			transition: all 0.3s ease;

			display: none;

			li {
				a {
					width: 400px;
					text-align: center;

					&:hover {
						transition: all 0.3s ease;
						color: $primarycolor;
						background-color: rgba(0, 128, 199, 0.1);
					}
				}
			}
		}

		.active {
			border-bottom: 4px solid rgba(0, 0, 0, 0) !important;
			color: $primarycolor !important;
		}
	}

	.show_navigation {
		display: flex !important;
		transition: all 0.3s ease;
	}

	.hamburger {
		display: block;
		transition: all 0.3s ease;
	}

	header {
		transition: all 0.3s ease;
		height: 250px;
	}

	.title-container {
		margin: 60px 10% 20px 10%;
		float: none;
		text-align: center;
		transition: all 0.3s ease;
	}

	h1.title {
		font-size: 2.5em;
		transition: all 0.3s ease;
	}

	h2.subtitle {
		font-size: 1.7em;
		transition: all 0.3s ease;
	}
}


// media queries
@media only screen and (max-width: 500px) {

	h1.title {
		font-size: 2em;
		transition: all 0.3s ease;
	}

	h2.subtitle {
		font-size: 1.3em;
		transition: all 0.3s ease;
	}
}
